<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.TeacherMapper">
	<!-- 문제지수정 -->
	<update id="updateQuestion"
		parameterType="java.util.Map">
		UPDATE question
		SET question_title = #{questionTitle}, question_idx = #{questionIdx}
		WHERE question_no = #{questionNo}
	</update>
	
	<!-- 보기 수정 -->
	<update id="updateExample"
		parameterType="java.util.Map">
		UPDATE example
		SET example_title = #{exampleTitle}, example_idx = #{exampleIdx}
		WHERE example_no = #{exampleNo}
	</update>
	
	<!-- 보기입력 -->
	<insert id="insertExample" parameterType="goodee.gdj58.online.vo.Example">
		INSERT INTO example (
			question_no
			, example_idx
			, example_title
		) VALUES (
			#{questionNo}
			, #{exampleIdx}
			, #{exampleTitle}
		)
	</insert>	

	<!-- 문제입력 -->
	<insert id="insertQuestion" parameterType="goodee.gdj58.online.vo.Question">
		INSERT INTO question (
			test_no
			, question_idx
			, question_title
		) VALUES (
			#{testNo}
			, #{questionIdx}
			, #{questionTitle}
		)
	</insert>	
	
	<!-- 시험지수정 -->
	<update id="updateTest"
		parameterType="java.util.Map">
		UPDATE test
		SET test_title = #{testTitle}, test_date = #{testDate}
		WHERE test_no = #{testNo}
	</update>
	
	<!-- 시험지입력 -->
	<insert id="insertTest" parameterType="goodee.gdj58.online.vo.Test">
		INSERT INTO test (
			test_title
			, test_date
		) VALUES (
			#{testTitle}
			, #{testDate}
		)
	</insert>	
	
	<!-- 강사비밀번호수정 -->
	<update id="updateTeacherPw"
		parameterType="java.util.Map">
		UPDATE teacher
		SET teacher_pw = PASSWORD(#{newPw})
		WHERE teacher_no = #{teacherNo} AND teacher_pw = PASSWORD(#{oldPw})
	
	</update>
	
	
	<!-- 로그인 -->
	<select id="login" 
		parameterType="goodee.gdj58.online.vo.Teacher"
		resultType="goodee.gdj58.online.vo.Teacher">
		
		SELECT
			teacher_no teacherNo
			, teacher_id teacherId
			, teacher_name teacherName
		FROM teacher
		WHERE teacher_id = #{teacherId} AND teacher_pw = PASSWORD(#{teacherPw})
	</select>
	
	<delete id="deleteTeacher" parameterType="int">
		DELETE FROM teacher
		WHERE teacher_no = #{teacherNo}
	</delete>
	
	<insert id="insertTeacher" parameterType="goodee.gdj58.online.vo.Teacher">
		INSERT INTO teacher (
			teacher_id
			, teacher_pw
			, teacher_name
		) VALUES (
			#{teacherId}
			, PASSWORD(#{teacherPw})
			, #{teacherName}
		)
	
	</insert>
	
	<select id = "lastPage"
		resultType="int"
		parameterType="java.lang.String">
		SELECT COUNT(*) FROM teacher 
		<where>
			<if test="searchWord != null || searchWord !=''">
				teacher_name like CONCAT('%',#{searchWord},'%')
			</if>
		</where>	
	</select>	
	
	<select id="selectTeacherList" 
		resultType="goodee.gdj58.online.vo.Teacher"
		parameterType="java.util.Map">
		
		SELECT
			teacher_no teacherNo	<!-- rs.getInt("emp_no"), new Employee().setEmpNo() -->
			, teacher_id teacherId
			, teacher_name teacherName
		FROM teacher
		<where>
			<if test="searchWord != null || searchWord !=''">
				teacher_name like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY teacher_no DESC
		LIMIT #{beginRow}, #{rowPerPage}	
	</select>
</mapper>