<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.TestMapper">
	
	<select id="selectQuestionOne" parameterType="int" resultType="java.util.Map">
		SELECT
			q.question_idx questionIdx
			, q.question_title questionTitle  
			, e.example_idx exampleIdx 
			, e.example_title exampleTitle
		FROM question q INNER JOIN	example e ON q.question_no = e.question_no
		WHERE q.test_no= #{testNo}     
	</select>	
		
	<select id = "cntTest"
		resultType="int"
		parameterType="java.lang.String">
		SELECT COUNT(*) FROM test 
		<where>
			<if test="searchWord != null || searchWord !=''">
				test_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>	
	</select>	
		
	<select id="selectTestList"
		parameterType="java.util.Map"
		resultType="goodee.gdj58.online.vo.Test">
				
		SELECT
			test_no testNo	<!-- rs.getInt("emp_no"), new Employee().setEmpNo() -->
			, test_title testTitle
			, test_date testDate
		FROM test
		<where>
			<if test="searchWord != null || searchWord !=''">
				test_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY test_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

</mapper>